

 

<div class="container">
 <img  src="../assets/gris.png" class="img-rounded" alt="Cinque Terre"> 
      <article [routerLink]="['/detail', article._id]" *ngIf="article"> 
      <img  class="img-thumbnail" src="{{ article.Picture }}" alt="ALT">
    
        <h1 ><a [routerLink]="['/article', article._id]">{{ article.name }}</a></h1>
        <p >{{ article.Description }}</p>
      

<a style="position:relative; top:1000%; margin-left: 8%; z-index:6 ;" routerLink="/article">Back to List</a>
<a style="position:relative; top:1000%; margin-left: 85%; z-index:6 ;"  target="_blank" href="{{ article.Link}}">View Article</a>
</article>